*{
    background-color: skyblue;
}
button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    

}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

#game-board {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}

.mole {
  width: 80px;
  height: 80px;
  background-color: grey;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}




.hidden {
  visibility: hidden;
}

.active{
  background-color: green
}